# Secrets
.env

# Python
.venv/
__pycache__/
*.pyc

.astro/
logs/
airflow.db
airflow.cfg

# Data outputs
data/bronze/
data/silver/
data/gold/
data/raw/

# OS/editor
.DS_Store
.vscode/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars